.246_2 { 
	overflow:hidden;
}.e246_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:360px;
	height:698px;
	position:absolute;
}.e246_62 { 
	background-color:rgba(184.00000423192978, 174.00000482797623, 184.00000423192978, 0.3400000035762787);
	width:141px;
	height:49px;
	position:absolute;
	left:114px;
	top:576px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}.e246_63 { 
	color:rgba(0, 0, 0, 1);
	width:109px;
	height:34px;
	position:absolute;
	left:138px;
	top:583px;
	font-family:Lalezar;
	text-align:justified;
	font-size:22px;
	letter-spacing:2;
}.e246_105 { 
	border-radius:500px;
	background-color:rgba(0, 0, 0, 0.41999998688697815);
	width:52.373802185058594px;
	height:2.856752872467041px;
	position:absolute;
	left:239.540283203125px;
	top:245.837646484375px;
}.e246_106 { 
	border-radius:500px;
	background-color:rgba(0, 0, 0, 0.20999999344348907);
	width:42px;
	height:3px;
	position:absolute;
	left:83px;
	top:251px;
}.e246_107 { 
	border-radius:500px;
	background-color:rgba(0, 0, 0, 0.20999999344348907);
	width:72px;
	height:5px;
	position:absolute;
	left:68px;
	top:482px;
}.e246_108 { 
	border-radius:500px;
	background-color:rgba(0, 0, 0, 0.20999999344348907);
	width:60px;
	height:4.166666507720947px;
	position:absolute;
	left:233px;
	top:485px;
}.e246_110 { 
	border-radius:500px;
	background-color:rgba(0, 0, 0, 0.41999998688697815);
	width:6.665756702423096px;
	height:1.9045019149780273px;
	position:absolute;
	left:239.9222412109375px;
	top:242.98089599609375px;
}.e246_112 { 
	width:156px;
	height:180.87930297851562px;
	position:absolute;
	left:22px;
	top:328px;
	background-image:url(images/image_9.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e246_114 { 
	color:rgba(0, 0, 0, 1);
	width:95px;
	height:70px;
	position:absolute;
	left:57px;
	top:497px;
	font-family:Inter;
	text-align:justified;
	font-size:10px;
	letter-spacing:0;
	line-height:px;
}.e246_116 { 
	color:rgba(0, 0, 0, 1);
	width:95px;
	height:70px;
	position:absolute;
	left:216px;
	top:497px;
	font-family:Inter;
	text-align:justified;
	font-size:10px;
	letter-spacing:0;
	line-height:px;
}.e246_119 { 
	color:rgba(0, 0, 0, 1);
	width:103px;
	height:70px;
	position:absolute;
	left:213px;
	top:270px;
	font-family:Inter;
	text-align:justified;
	font-size:10px;
	letter-spacing:0;
	line-height:px;
}.e246_120 { 
	color:rgba(0, 0, 0, 1);
	width:95px;
	height:70px;
	position:absolute;
	left:56px;
	top:270px;
	font-family:Inter;
	text-align:justified;
	font-size:10px;
	letter-spacing:0;
	line-height:px;
}.e246_121 { 
	width:131.65054321289062px;
	height:152.64654541015625px;
	position:absolute;
	left:197px;
	top:342px;
}.e247_9 { 
	color:rgba(0, 0, 0, 1);
	width:91px;
	height:34px;
	position:absolute;
	left:130px;
	top:68px;
	font-family:Lalezar;
	text-align:left;
	font-size:22px;
	letter-spacing:2;
}.e516_71 { 
	width:360px;
	height:55px;
	position:absolute;
	left:0px;
	top:643px;
}.e516_72 { 
	background-color:rgba(184.00000423192978, 174.00000482797623, 184.00000423192978, 0.3400000035762787);
	width:360px;
	height:55px;
	position:absolute;
	left:0px;
	top:0px;
}.e516_73 { 
	width:230px;
	height:21.36069107055664px;
	position:absolute;
	left:65px;
	top:16.5291748046875px;
	background-image:url(images/image_36.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e516_74 { 
	width:230px;
	height:21.36069107055664px;
	position:absolute;
	left:65px;
	top:16.5291748046875px;
	background-image:url(images/image_39.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e519_140 { 
	width:362px;
	height:56px;
	position:absolute;
	left:-2px;
	top:0px;
}.e519_141 { 
	background-color:rgba(184.00000423192978, 174.00000482797623, 184.00000423192978, 0.3400000035762787);
	width:362px;
	height:56px;
	position:absolute;
	left:0px;
	top:0px;
}.e519_142 { 
	width:26px;
	height:36.5px;
	position:absolute;
	left:100px;
	top:11px;
	background-image:url(images/image_29.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e519_143 { 
	color:rgba(0, 0, 0, 1);
	width:35.19444274902344px;
	height:15px;
	position:absolute;
	left:53.3111572265625px;
	top:22px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e519_144 { 
	color:rgba(0, 0, 0, 1);
	width:73px;
	height:41px;
	position:absolute;
	left:145px;
	top:13px;
	font-family:La Belle Aurore;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}.e519_145 { 
	width:18.77777671813965px;
	height:13px;
	position:absolute;
	left:24px;
	top:22px;
	background-image:url(images/image_27.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e526_136 { 
	width:58px;
	height:19.148937225341797px;
	position:absolute;
	left:271px;
	top:21px;
}.e526_137 { 
	width:18px;
	height:18px;
	position:absolute;
	left:20px;
	top:0.085113525390625px;
	background-image:url(images/image_60.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e526_138 { 
	width:18px;
	height:18px;
	position:absolute;
	left:0px;
	top:0.085113525390625px;
	background-image:url(images/image_58.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e526_139 { 
	width:20px;
	height:19.148937225341797px;
	position:absolute;
	left:38px;
	top:0px;
	background-image:url(images/image_59.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e542_19 { 
	width:316.0506896972656px;
	height:403.93817138671875px;
	position:absolute;
	left:22px;
	top:104.94113159179688px;
}.e246_98 { 
	background-color:rgba(251.81250303983688, 251.81250303983688, 251.81250303983688, 1);
	width:148.5511474609375px;
	height:161.88265991210938px;
	position:absolute;
	left:7px;
	top:0.915618896484375px;
	border-top-left-radius:9.522509574890137px;
	border-top-right-radius:9.522509574890137px;
	border-bottom-left-radius:9.522509574890137px;
	border-bottom-right-radius:9.522509574890137px;
}.e246_100 { 
	background-color:rgba(251.81250303983688, 251.81250303983688, 251.81250303983688, 1);
	width:148.5511474609375px;
	height:161.88265991210938px;
	position:absolute;
	left:167px;
	top:232.05886840820312px;
	border-top-left-radius:9.522509574890137px;
	border-top-right-radius:9.522509574890137px;
	border-bottom-left-radius:9.522509574890137px;
	border-bottom-right-radius:9.522509574890137px;
}.e246_102 { 
	background-color:rgba(251.81250303983688, 251.81250303983688, 251.81250303983688, 1);
	width:148.5511474609375px;
	height:161.88265991210938px;
	position:absolute;
	left:7px;
	top:232.05886840820312px;
	border-top-left-radius:9.522509574890137px;
	border-top-right-radius:9.522509574890137px;
	border-bottom-left-radius:9.522509574890137px;
	border-bottom-right-radius:9.522509574890137px;
}.e246_103 { 
	transform: rotate(0.7111426457532661deg);
	background-color:rgba(251.81250303983688, 251.81250303983688, 251.81250303983688, 1);
	width:148.5511474609375px;
	height:161.88265991210938px;
	position:absolute;
	left:167.510986328125px;
	top:0px;
	border-top-left-radius:9.522509574890137px;
	border-top-right-radius:9.522509574890137px;
	border-bottom-left-radius:9.522509574890137px;
	border-bottom-right-radius:9.522509574890137px;
}.e246_111 { 
	width:156px;
	height:180.87930297851562px;
	position:absolute;
	left:0px;
	top:223.05886840820312px;
	background-image:url(images/image_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e246_96 { 
	width:154px;
	height:178.5603485107422px;
	position:absolute;
	left:153px;
	top:215.05886840820312px;
	background-image:url(images/image_19.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e246_140 { 
	width:124px;
	height:124px;
	position:absolute;
	left:183px;
	top:29.058868408203125px;
	background-image:url(images/image_21.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e246_138 { 
	width:111.25650787353516px;
	height:129px;
	position:absolute;
	left:19px;
	top:14.058868408203125px;
	background-image:url(images/image_20.png);
	background-repeat:no-repeat;
	background-size:cover;
}