.552_14 { 
	overflow:hidden;
}.e552_14 { 
	background-color:rgba(255, 255, 255, 1);
	width:360px;
	height:611px;
	position:absolute;
}.e552_16 { 
	width:362px;
	height:56px;
	position:absolute;
	left:0px;
	top:0px;
}.e552_17 { 
	background-color:rgba(184.00000423192978, 174.00000482797623, 184.00000423192978, 0.3400000035762787);
	width:362px;
	height:56px;
	position:absolute;
	left:0px;
	top:0px;
}.e552_18 { 
	width:26px;
	height:36.5px;
	position:absolute;
	left:100px;
	top:11px;
	background-image:url(images/image_29.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e552_19 { 
	color:rgba(0, 0, 0, 1);
	width:35.19444274902344px;
	height:15px;
	position:absolute;
	left:53.3111572265625px;
	top:22px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e552_20 { 
	color:rgba(0, 0, 0, 1);
	width:73px;
	height:41px;
	position:absolute;
	left:145px;
	top:13px;
	font-family:La Belle Aurore;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}.e552_22 { 
	width:18.77777671813965px;
	height:13px;
	position:absolute;
	left:24px;
	top:22px;
	background-image:url(images/image_27.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e552_23 { 
	width:58px;
	height:19.148937225341797px;
	position:absolute;
	left:271px;
	top:21px;
}.e552_24 { 
	width:18px;
	height:18px;
	position:absolute;
	left:20px;
	top:0.085113525390625px;
	background-image:url(images/image_60.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e552_25 { 
	width:18px;
	height:18px;
	position:absolute;
	left:0px;
	top:0.085113525390625px;
	background-image:url(images/image_58.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e552_26 { 
	width:20px;
	height:19.148937225341797px;
	position:absolute;
	left:38px;
	top:0px;
	background-image:url(images/image_59.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e552_27 { 
	width:142.75509643554688px;
	height:197.04225158691406px;
	position:absolute;
	left:109px;
	top:128px;
	background-image:url(images/image_46.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e552_28 { 
	width:32px;
	height:32px;
	position:absolute;
	left:259px;
	top:524px;
	background-image:url(images/image_67.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e552_31 { 
	width:29px;
	height:10px;
	position:absolute;
	left:165px;
	top:479px;
}.e552_29 { 
	transform: rotate(180deg);
	border-radius:500px;
	background-color:rgba(171.06250405311584, 171.06250405311584, 171.06250405311584, 1);
	width:10px;
	height:10px;
	position:absolute;
	left:29px;
	top:10px;
}.e552_30 { 
	transform: rotate(180deg);
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:10px;
	height:10px;
	position:absolute;
	left:10px;
	top:10px;
}.e552_32 { 
	color:rgba(0, 0, 0, 1);
	width:257px;
	height:81px;
	position:absolute;
	left:51px;
	top:357px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}