.540_98 { 
	overflow:hidden;
}.e540_98 { 
	background-color:rgba(255, 255, 255, 1);
	width:360px;
	height:1323px;
	position:absolute;
}.e540_99 { 
	color:rgba(0, 0, 0, 1);
	width:102px;
	height:34px;
	position:absolute;
	left:115px;
	top:371px;
	font-family:Lalezar;
	text-align:left;
	font-size:22px;
	letter-spacing:2;
}.e540_100 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:360px;
	height:221px;
	position:absolute;
	left:0px;
	top:130px;
	background-image:url(images/rectangle_11.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e540_101 { 
	color:rgba(0, 0, 0, 1);
	width:93px;
	height:34px;
	position:absolute;
	left:120px;
	top:82px;
	font-family:Lalezar;
	text-align:left;
	font-size:22px;
	letter-spacing:2;
}.e540_102 { 
	border-radius:500px;
	background-color:rgba(65.87499797344208, 65.87499797344208, 65.87499797344208, 1);
	width:4px;
	height:4px;
	position:absolute;
	left:160px;
	top:337px;
}.e540_103 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:4px;
	height:4px;
	position:absolute;
	left:172px;
	top:337px;
}.e540_104 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:4px;
	height:4px;
	position:absolute;
	left:184px;
	top:337px;
}.e540_105 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:4px;
	height:4px;
	position:absolute;
	left:196px;
	top:337px;
}.e540_106 { 
	width:360px;
	height:55px;
	position:absolute;
	left:0px;
	top:1268px;
}.e540_107 { 
	background-color:rgba(184.00000423192978, 174.00000482797623, 184.00000423192978, 0.3400000035762787);
	width:360px;
	height:55px;
	position:absolute;
	left:0px;
	top:0px;
}.e540_108 { 
	width:230px;
	height:21.36069107055664px;
	position:absolute;
	left:65px;
	top:16.5291748046875px;
	background-image:url(images/image_36.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e540_109 { 
	width:230px;
	height:21.36069107055664px;
	position:absolute;
	left:65px;
	top:16.5291748046875px;
	background-image:url(images/image_39.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e540_110 { 
	width:362px;
	height:56px;
	position:absolute;
	left:0px;
	top:0px;
}.e540_111 { 
	background-color:rgba(184.00000423192978, 174.00000482797623, 184.00000423192978, 0.3400000035762787);
	width:362px;
	height:56px;
	position:absolute;
	left:0px;
	top:0px;
}.e540_112 { 
	width:26px;
	height:36.5px;
	position:absolute;
	left:100px;
	top:11px;
	background-image:url(images/image_29.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e540_113 { 
	color:rgba(0, 0, 0, 1);
	width:35.19444274902344px;
	height:15px;
	position:absolute;
	left:53.3111572265625px;
	top:22px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e540_114 { 
	color:rgba(0, 0, 0, 1);
	width:73px;
	height:41px;
	position:absolute;
	left:145px;
	top:13px;
	font-family:La Belle Aurore;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}.e540_115 { 
	width:18.77777671813965px;
	height:13px;
	position:absolute;
	left:24px;
	top:22px;
	background-image:url(images/image_27.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e540_116 { 
	width:58px;
	height:19.148937225341797px;
	position:absolute;
	left:271px;
	top:21px;
}.e540_117 { 
	width:18px;
	height:18px;
	position:absolute;
	left:20px;
	top:0.085113525390625px;
	background-image:url(images/image_60.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e540_118 { 
	width:18px;
	height:18px;
	position:absolute;
	left:0px;
	top:0.085113525390625px;
	background-image:url(images/image_58.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e540_119 { 
	width:20px;
	height:19.148937225341797px;
	position:absolute;
	left:38px;
	top:0px;
	background-image:url(images/image_59.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e540_120 { 
	width:180.36056518554688px;
	height:500.2265319824219px;
	position:absolute;
	left:141px;
	top:460px;
	background-image:url(images/image_40.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e540_121 { 
	width:14px;
	height:20.500001907348633px;
	position:absolute;
	left:336px;
	top:227px;
	background-image:url(images/image_42.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e540_122 { 
	width:115px;
	height:37px;
	position:absolute;
	left:66px;
	top:558px;
	background-image:url(images/image_43.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e540_123 { 
	width:59.400108337402344px;
	height:14.14288330078125px;
	position:absolute;
	left:234px;
	top:804px;
	background-image:url(images/image_44.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e540_124 { 
	width:65px;
	height:15.228571891784668px;
	position:absolute;
	left:68px;
	top:800px;
	background-image:url(images/image_45.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e540_125 { 
	width:241.5px;
	height:81px;
	position:absolute;
	left:58px;
	top:1164px;
}.e540_126 { 
	color:rgba(0, 0, 0, 1);
	width:49px;
	height:12px;
	position:absolute;
	left:97px;
	top:0px;
	font-family:Inter;
	text-align:center;
	font-size:8px;
	letter-spacing:0;
}.540_127 { 
	border:0.10000000149011612px solid rgba(0, 0, 0, 1);
}.e540_127 { 
	width:97px;
	height:0px;
	position:absolute;
	left:144.5px;
	top:5.5px;
}.540_128 { 
	border:0.10000000149011612px solid rgba(0, 0, 0, 1);
}.e540_128 { 
	width:97px;
	height:0px;
	position:absolute;
	left:0px;
	top:6px;
}.e540_129 { 
	color:rgba(0, 0, 0, 1);
	width:94px;
	height:10px;
	position:absolute;
	left:147px;
	top:71px;
	font-family:Inter;
	text-align:left;
	font-size:8px;
	letter-spacing:0;
}.e540_130 { 
	color:rgba(0, 0, 0, 1);
	width:58px;
	height:10px;
	position:absolute;
	left:165px;
	top:49px;
	font-family:Inter;
	text-align:left;
	font-size:8px;
	letter-spacing:0;
}.e540_131 { 
	color:rgba(0, 0, 0, 1);
	width:88px;
	height:10px;
	position:absolute;
	left:150px;
	top:60px;
	font-family:Inter;
	text-align:left;
	font-size:8px;
	letter-spacing:0;
}.e540_132 { 
	color:rgba(0, 0, 0, 1);
	width:41px;
	height:10px;
	position:absolute;
	left:173px;
	top:38px;
	font-family:Inter;
	text-align:left;
	font-size:8px;
	letter-spacing:0;
}.e540_133 { 
	color:rgba(0, 0, 0, 1);
	width:29px;
	height:11px;
	position:absolute;
	left:180px;
	top:23px;
	font-family:Inter;
	text-align:left;
	font-size:9px;
	letter-spacing:0;
}.e540_134 { 
	color:rgba(0, 0, 0, 1);
	width:23px;
	height:10px;
	position:absolute;
	left:37px;
	top:49px;
	font-family:Inter;
	text-align:center;
	font-size:8px;
	letter-spacing:0;
}.e540_135 { 
	color:rgba(0, 0, 0, 1);
	width:20px;
	height:10px;
	position:absolute;
	left:38px;
	top:38px;
	font-family:Inter;
	text-align:center;
	font-size:8px;
	letter-spacing:0;
}.e540_136 { 
	color:rgba(0, 0, 0, 1);
	width:33px;
	height:10px;
	position:absolute;
	left:32px;
	top:60px;
	font-family:Inter;
	text-align:center;
	font-size:8px;
	letter-spacing:0;
}.e540_137 { 
	color:rgba(0, 0, 0, 1);
	width:35px;
	height:10px;
	position:absolute;
	left:31px;
	top:71px;
	font-family:Inter;
	text-align:center;
	font-size:8px;
	letter-spacing:0;
}.e540_138 { 
	color:rgba(0, 0, 0, 1);
	width:25px;
	height:11px;
	position:absolute;
	left:36px;
	top:23px;
	font-family:Inter;
	text-align:center;
	font-size:9px;
	letter-spacing:0;
}.e540_139 { 
	width:323.318359375px;
	height:735.7244873046875px;
	position:absolute;
	left:21.681640625px;
	top:428px;
	background-image:url(images/image_65.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e540_140 { 
	width:338px;
	height:484px;
	position:absolute;
	left:0px;
	top:1px;
}.e540_141 { 
	width:338px;
	height:484px;
	position:absolute;
	left:0px;
	top:0px;
}.e540_142 { 
	background-color:rgba(255, 255, 255, 1);
	width:338px;
	height:484px;
	position:absolute;
	left:0px;
	top:0px;
}.e540_143 { 
	color:rgba(0, 0, 0, 1);
	width:230px;
	height:24px;
	position:absolute;
	left:46px;
	top:209px;
	font-family:Inter;
	text-align:justified;
	font-size:12px;
	letter-spacing:0;
	line-height:px;
}.e540_144 { 
	color:rgba(0, 0, 0, 1);
	width:230px;
	height:24px;
	position:absolute;
	left:46px;
	top:238px;
	font-family:Inter;
	text-align:justified;
	font-size:12px;
	letter-spacing:0;
	line-height:px;
}.e540_145 { 
	color:rgba(0, 0, 0, 1);
	width:230px;
	height:24px;
	position:absolute;
	left:46px;
	top:267px;
	font-family:Inter;
	text-align:justified;
	font-size:12px;
	letter-spacing:0;
	line-height:px;
}.e540_146 { 
	color:rgba(0, 0, 0, 1);
	width:230px;
	height:24px;
	position:absolute;
	left:46px;
	top:296px;
	font-family:Inter;
	text-align:justified;
	font-size:12px;
	letter-spacing:0;
	line-height:px;
}.e540_147 { 
	color:rgba(0, 0, 0, 1);
	width:230px;
	height:24px;
	position:absolute;
	left:47px;
	top:325px;
	font-family:Inter;
	text-align:justified;
	font-size:12px;
	letter-spacing:0;
	line-height:px;
}.e540_148 { 
	color:rgba(0, 0, 0, 1);
	width:73px;
	height:41px;
	position:absolute;
	left:129px;
	top:11px;
	font-family:La Belle Aurore;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}.e540_149 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.6000000238418579);
	width:25px;
	height:25px;
	position:absolute;
	left:281px;
	top:16px;
}.e540_150 { 
	width:12px;
	height:12px;
	position:absolute;
	left:288px;
	top:22px;
	background-image:url(images/image_57.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e540_151 { 
	color:rgba(0, 0, 0, 1);
	width:230px;
	height:24px;
	position:absolute;
	left:45px;
	top:123px;
	font-family:Inter;
	text-align:justified;
	font-size:15px;
	letter-spacing:0;
	line-height:px;
}.e540_152 { 
	color:rgba(0, 0, 0, 1);
	width:230px;
	height:24px;
	position:absolute;
	left:44px;
	top:78px;
	font-family:Inter;
	text-align:justified;
	font-size:15px;
	letter-spacing:0;
	line-height:px;
}.e540_153 { 
	color:rgba(0, 0, 0, 1);
	width:230px;
	height:24px;
	position:absolute;
	left:45px;
	top:373px;
	font-family:Inter;
	text-align:justified;
	font-size:15px;
	letter-spacing:0;
	line-height:px;
}.e540_154 { 
	color:rgba(0, 0, 0, 1);
	width:230px;
	height:24px;
	position:absolute;
	left:45px;
	top:166px;
	font-family:Inter;
	text-align:justified;
	font-size:15px;
	letter-spacing:0;
	line-height:px;
}.e540_155 { 
	color:rgba(0, 0, 0, 1);
	width:230px;
	height:24px;
	position:absolute;
	left:46px;
	top:416px;
	font-family:Inter;
	text-align:justified;
	font-size:15px;
	letter-spacing:0;
	line-height:px;
}.540_156 { 
	border:0.30000001192092896px solid rgba(141.0000067949295, 141.0000067949295, 141.0000067949295, 1);
}.e540_156 { 
	width:261px;
	height:0px;
	position:absolute;
	left:42px;
	top:54px;
}.540_157 { 
	border:0.30000001192092896px solid rgba(141.0000067949295, 141.0000067949295, 141.0000067949295, 1);
}.e540_157 { 
	width:261px;
	height:0px;
	position:absolute;
	left:46px;
	top:356px;
}.e540_158 { 
	width:262px;
	height:22.084291458129883px;
	position:absolute;
	left:45px;
	top:428px;
	background-image:url(images/image_62.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e540_159 { 
	width:262px;
	height:22.084291458129883px;
	position:absolute;
	left:45px;
	top:86px;
	background-image:url(images/image_61.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e540_160 { 
	width:262px;
	height:22.084291458129883px;
	position:absolute;
	left:45px;
	top:135px;
	background-image:url(images/image_62.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e540_161 { 
	width:262px;
	height:22.084291458129883px;
	position:absolute;
	left:45px;
	top:385px;
	background-image:url(images/image_64.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e540_162 { 
	width:262px;
	height:22.084291458129883px;
	position:absolute;
	left:45px;
	top:178px;
	background-image:url(images/image_63.png);
	background-repeat:no-repeat;
	background-size:cover;
}