.244_15 { 
	overflow:hidden;
}.e244_15 { 
	background-color:rgba(255, 255, 255, 1);
	width:360px;
	height:698px;
	position:absolute;
}.e244_101 { 
	color:rgba(0, 0, 0, 1);
	width:90px;
	height:34px;
	position:absolute;
	left:130px;
	top:78px;
	font-family:Lalezar;
	text-align:left;
	font-size:22px;
	letter-spacing:2;
}.e244_102 { 
	color:rgba(0, 0, 0, 1);
	width:99px;
	height:34px;
	position:absolute;
	left:130px;
	top:348px;
	font-family:Lalezar;
	text-align:left;
	font-size:22px;
	letter-spacing:2;
}.e244_153 { 
	width:324px;
	height:94px;
	position:absolute;
	left:17px;
	top:228px;
}.e244_80 { 
	background-color:rgba(248.0000004172325, 240.00000089406967, 236.00000113248825, 1);
	width:323px;
	height:94px;
	position:absolute;
	left:1px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e244_81 { 
	color:rgba(0, 0, 0, 1);
	width:201px;
	height:41px;
	position:absolute;
	left:69px;
	top:27px;
	font-family:Inter;
	text-align:justified;
	font-size:14.315788269042969px;
	letter-spacing:0;
	line-height:px;
}.e244_89 { 
	width:72.92565155029297px;
	height:84.55603790283203px;
	position:absolute;
	left:0px;
	top:7px;
	background-image:url(images/image_15.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e244_154 { 
	width:324px;
	height:94px;
	position:absolute;
	left:18px;
	top:399px;
}.e244_128 { 
	width:324px;
	height:94px;
	position:absolute;
	left:0px;
	top:0px;
}.e244_92 { 
	background-color:rgba(248.0000004172325, 240.00000089406967, 236.00000113248825, 1);
	width:323px;
	height:94px;
	position:absolute;
	left:1px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e244_93 { 
	color:rgba(0, 0, 0, 1);
	width:201px;
	height:41px;
	position:absolute;
	left:69px;
	top:17px;
	font-family:Inter;
	text-align:justified;
	font-size:14.315788269042969px;
	letter-spacing:0;
	line-height:px;
}.e244_91 { 
	width:70px;
	height:81.1637954711914px;
	position:absolute;
	left:0px;
	top:7px;
	background-image:url(images/image_16.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e244_149 { 
	background-color:rgba(184.00000423192978, 174.00000482797623, 184.00000423192978, 0.3400000035762787);
	width:141px;
	height:49px;
	position:absolute;
	left:201px;
	top:551px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}.e244_150 { 
	color:rgba(0, 0, 0, 1);
	width:134px;
	height:33px;
	position:absolute;
	left:201px;
	top:558px;
	font-family:Lalezar;
	text-align:center;
	font-size:21px;
	letter-spacing:2;
}.e244_151 { 
	color:rgba(0, 0, 0, 1);
	position:absolute;
	left:12px;
	top:560px;
	font-family:Lalezar;
	text-align:justified;
	font-size:19.80927848815918px;
	letter-spacing:15;
}.e346_46 { 
	color:rgba(0, 0, 0, 1);
	width:172px;
	height:24px;
	position:absolute;
	left:38px;
	top:583px;
	font-family:Lalezar;
	text-align:justified;
	font-size:15px;
	letter-spacing:4.5;
}.e524_59 { 
	color:rgba(0, 0, 0, 1);
	width:177px;
	height:27px;
	position:absolute;
	left:24px;
	top:565px;
	font-family:Lalezar;
	text-align:justified;
	font-size:17px;
	letter-spacing:4.5;
}.e244_152 { 
	width:324px;
	height:356.1052551269531px;
	position:absolute;
	left:17px;
	top:127px;
}.e244_69 { 
	background-color:rgba(247.56250709295273, 240.47084122896194, 236.2158903479576, 1);
	width:323px;
	height:94px;
	position:absolute;
	left:1px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e244_72 { 
	color:rgba(0, 0, 0, 1);
	width:201px;
	height:41px;
	position:absolute;
	left:70px;
	top:27px;
	font-family:Inter;
	text-align:justified;
	font-size:14.315788269042969px;
	letter-spacing:0;
	line-height:px;
}.e311_35 { 
	width:44px;
	height:45.157894134521484px;
	position:absolute;
	left:274px;
	top:38.9473762512207px;
}.e244_115 { 
	width:44px;
	height:20.842105865478516px;
	position:absolute;
	left:0px;
	top:0px;
}.e244_116 { 
	background-color:rgba(255, 255, 255, 1);
	width:44px;
	height:20.842105865478516px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:11.578948020935059px;
	border-top-right-radius:11.578948020935059px;
	border-bottom-left-radius:11.578948020935059px;
	border-bottom-right-radius:11.578948020935059px;
}.e244_117 { 
	width:5.789473533630371px;
	height:5.789473533630371px;
	position:absolute;
	left:32.421051025390625px;
	top:8.105266571044922px;
}.244_118 { 
	border:1.1578948497772217px solid rgba(0, 0, 0, 1);
}.e244_118 { 
	position:absolute;
	left:2.8947689533233643px;
	top:-0.000004015470949525479px;
}.244_119 { 
	border:1.1578948497772217px solid rgba(0, 0, 0, 1);
}.e244_119 { 
	width:5.789473533630371px;
	height:0px;
	position:absolute;
	left:0.000032123767596203834px;
	top:2.894732713699341px;
}.e244_120 { 
	width:5.789473533630371px;
	height:0px;
	position:absolute;
	left:5.789473533630371px;
	top:11.00000286102295px;
}.244_121 { 
	border:1.1578948497772217px solid rgba(0, 0, 0, 1);
}.e244_121 { 
	width:5.789473533630371px;
	height:0px;
	position:absolute;
	left:0px;
	top:0px;
}.e244_122 { 
	color:rgba(0, 0, 0, 1);
	width:4px;
	height:8px;
	position:absolute;
	left:20.842105865478516px;
	top:5.7894768714904785px;
	font-family:Inter;
	text-align:left;
	font-size:6.94736909866333px;
	letter-spacing:0;
}.e311_25 { 
	width:44px;
	height:20.842105865478516px;
	position:absolute;
	left:0px;
	top:24.31578826904297px;
}.e311_26 { 
	background-color:rgba(255, 255, 255, 1);
	width:44px;
	height:20.842105865478516px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:11.578948020935059px;
	border-top-right-radius:11.578948020935059px;
	border-bottom-left-radius:11.578948020935059px;
	border-bottom-right-radius:11.578948020935059px;
}.e311_33 { 
	color:rgba(0, 0, 0, 1);
	width:36px;
	height:8px;
	position:absolute;
	left:4.6315789222717285px;
	top:5.789470672607422px;
	font-family:Inter;
	text-align:left;
	font-size:6.94736909866333px;
	letter-spacing:0;
}.e311_70 { 
	width:44px;
	height:45.157894134521484px;
	position:absolute;
	left:274px;
	top:139.94737243652344px;
}.e311_76 { 
	width:44px;
	height:20.842105865478516px;
	position:absolute;
	left:0px;
	top:0px;
}.e311_77 { 
	background-color:rgba(255, 255, 255, 1);
	width:44px;
	height:20.842105865478516px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:11.578948020935059px;
	border-top-right-radius:11.578948020935059px;
	border-bottom-left-radius:11.578948020935059px;
	border-bottom-right-radius:11.578948020935059px;
}.e311_83 { 
	color:rgba(0, 0, 0, 1);
	width:4px;
	height:8px;
	position:absolute;
	left:20.842105865478516px;
	top:5.7894768714904785px;
	font-family:Inter;
	text-align:left;
	font-size:6.94736909866333px;
	letter-spacing:0;
}.e311_84 { 
	width:44px;
	height:20.842105865478516px;
	position:absolute;
	left:0px;
	top:24.31578826904297px;
}.e311_85 { 
	background-color:rgba(255, 255, 255, 1);
	width:44px;
	height:20.842105865478516px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:11.578948020935059px;
	border-top-right-radius:11.578948020935059px;
	border-bottom-left-radius:11.578948020935059px;
	border-bottom-right-radius:11.578948020935059px;
}.e311_86 { 
	color:rgba(0, 0, 0, 1);
	width:36px;
	height:8px;
	position:absolute;
	left:4.6315789222717285px;
	top:5.789470672607422px;
	font-family:Inter;
	text-align:left;
	font-size:6.94736909866333px;
	letter-spacing:0;
}.e311_87 { 
	width:44px;
	height:45.157894134521484px;
	position:absolute;
	left:274px;
	top:310.9473571777344px;
}.e311_93 { 
	width:44px;
	height:20.842105865478516px;
	position:absolute;
	left:0px;
	top:0px;
}.e311_94 { 
	background-color:rgba(255, 255, 255, 1);
	width:44px;
	height:20.842105865478516px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:11.578948020935059px;
	border-top-right-radius:11.578948020935059px;
	border-bottom-left-radius:11.578948020935059px;
	border-bottom-right-radius:11.578948020935059px;
}.e311_100 { 
	color:rgba(0, 0, 0, 1);
	width:4px;
	height:8px;
	position:absolute;
	left:20.842105865478516px;
	top:5.7894768714904785px;
	font-family:Inter;
	text-align:left;
	font-size:6.94736909866333px;
	letter-spacing:0;
}.e311_101 { 
	width:44px;
	height:20.842105865478516px;
	position:absolute;
	left:0px;
	top:24.31578826904297px;
}.e311_102 { 
	background-color:rgba(255, 255, 255, 1);
	width:44px;
	height:20.842105865478516px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:11.578948020935059px;
	border-top-right-radius:11.578948020935059px;
	border-bottom-left-radius:11.578948020935059px;
	border-bottom-right-radius:11.578948020935059px;
}.e311_103 { 
	color:rgba(0, 0, 0, 1);
	width:36px;
	height:8px;
	position:absolute;
	left:4.6315789222717285px;
	top:5.789470672607422px;
	font-family:Inter;
	text-align:left;
	font-size:6.94736909866333px;
	letter-spacing:0;
}.e244_71 { 
	width:71px;
	height:82.32328033447266px;
	position:absolute;
	left:0px;
	top:6px;
	background-image:url(images/image_14.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e516_67 { 
	width:360px;
	height:55px;
	position:absolute;
	left:0px;
	top:643px;
}.e516_68 { 
	background-color:rgba(184.00000423192978, 174.00000482797623, 184.00000423192978, 0.3400000035762787);
	width:360px;
	height:55px;
	position:absolute;
	left:0px;
	top:0px;
}.e516_69 { 
	width:230px;
	height:21.36069107055664px;
	position:absolute;
	left:65px;
	top:16.5291748046875px;
	background-image:url(images/image_36.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e516_70 { 
	width:230px;
	height:21.36069107055664px;
	position:absolute;
	left:65px;
	top:16.5291748046875px;
	background-image:url(images/image_39.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e519_133 { 
	width:362px;
	height:56px;
	position:absolute;
	left:-1px;
	top:0px;
}.e519_134 { 
	background-color:rgba(184.00000423192978, 174.00000482797623, 184.00000423192978, 0.3400000035762787);
	width:362px;
	height:56px;
	position:absolute;
	left:0px;
	top:0px;
}.e519_135 { 
	width:26px;
	height:36.5px;
	position:absolute;
	left:100px;
	top:11px;
	background-image:url(images/image_29.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e519_136 { 
	color:rgba(0, 0, 0, 1);
	width:35.19444274902344px;
	height:15px;
	position:absolute;
	left:53.3111572265625px;
	top:22px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e519_137 { 
	color:rgba(0, 0, 0, 1);
	width:73px;
	height:41px;
	position:absolute;
	left:145px;
	top:13px;
	font-family:La Belle Aurore;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}.e519_138 { 
	width:18.77777671813965px;
	height:13px;
	position:absolute;
	left:24px;
	top:22px;
	background-image:url(images/image_27.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e526_132 { 
	width:58px;
	height:19.148937225341797px;
	position:absolute;
	left:271px;
	top:21px;
}.e526_133 { 
	width:18px;
	height:18px;
	position:absolute;
	left:20px;
	top:0.085113525390625px;
	background-image:url(images/image_60.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e526_134 { 
	width:18px;
	height:18px;
	position:absolute;
	left:0px;
	top:0.085113525390625px;
	background-image:url(images/image_58.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e526_135 { 
	width:20px;
	height:19.148937225341797px;
	position:absolute;
	left:38px;
	top:0px;
	background-image:url(images/image_59.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e524_44 { 
	width:96px;
	height:0.9999999403953552px;
	position:absolute;
	left:31px;
	top:594.0833129882812px;
	background-image:url(images/image_50.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e524_48 { 
	width:22px;
	height:24.44444465637207px;
	position:absolute;
	left:303px;
	top:407.8888854980469px;
	background-image:url(images/image_51.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e524_46 { 
	width:22px;
	height:24.44444465637207px;
	position:absolute;
	left:303px;
	top:135.88888549804688px;
	background-image:url(images/image_51.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e524_47 { 
	width:22px;
	height:24.44444465637207px;
	position:absolute;
	left:303px;
	top:237px;
	background-image:url(images/image_52.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e524_53 { 
	width:33px;
	height:7.279411792755127px;
	position:absolute;
	left:296px;
	top:172.72059631347656px;
	background-image:url(images/image_54.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e524_54 { 
	width:33px;
	height:7.279411792755127px;
	position:absolute;
	left:296px;
	top:273px;
	background-image:url(images/image_55.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e524_55 { 
	width:33px;
	height:7.279411792755127px;
	position:absolute;
	left:297px;
	top:444px;
	background-image:url(images/image_54.png);
	background-repeat:no-repeat;
	background-size:cover;
}