.550_2 { 
	overflow:hidden;
}.e550_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:360px;
	height:611px;
	position:absolute;
}.e550_9 { 
	color:rgba(0, 0, 0, 1);
	width:208px;
	height:34px;
	position:absolute;
	left:132px;
	top:89px;
	font-family:Lalezar;
	text-align:left;
	font-size:22px;
	letter-spacing:2;
}.e550_10 { 
	width:362px;
	height:459px;
	position:absolute;
	left:0px;
	top:0px;
}.e550_11 { 
	background-color:rgba(184.00000423192978, 174.00000482797623, 184.00000423192978, 0.3400000035762787);
	width:362px;
	height:56px;
	position:absolute;
	left:0px;
	top:0px;
}.e550_12 { 
	width:26px;
	height:36.5px;
	position:absolute;
	left:100px;
	top:11px;
	background-image:url(images/image_29.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e550_13 { 
	color:rgba(0, 0, 0, 1);
	width:35.19444274902344px;
	height:15px;
	position:absolute;
	left:53.3111572265625px;
	top:22px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e550_14 { 
	color:rgba(0, 0, 0, 1);
	width:73px;
	height:41px;
	position:absolute;
	left:145px;
	top:13px;
	font-family:La Belle Aurore;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}.e552_3 { 
	color:rgba(0, 0, 0, 1);
	width:360px;
	height:88px;
	position:absolute;
	left:0px;
	top:371px;
	font-family:La Belle Aurore;
	text-align:center;
	font-size:50px;
	letter-spacing:4.5;
}.e550_15 { 
	width:18.77777671813965px;
	height:13px;
	position:absolute;
	left:24px;
	top:22px;
	background-image:url(images/image_27.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e550_16 { 
	width:58px;
	height:19.148937225341797px;
	position:absolute;
	left:271px;
	top:21px;
}.e550_17 { 
	width:18px;
	height:18px;
	position:absolute;
	left:20px;
	top:0.085113525390625px;
	background-image:url(images/image_60.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e550_18 { 
	width:18px;
	height:18px;
	position:absolute;
	left:0px;
	top:0.085113525390625px;
	background-image:url(images/image_58.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e550_19 { 
	width:20px;
	height:19.148937225341797px;
	position:absolute;
	left:38px;
	top:0px;
	background-image:url(images/image_59.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e550_20 { 
	width:142.75509643554688px;
	height:197.04225158691406px;
	position:absolute;
	left:109px;
	top:153px;
	background-image:url(images/image_46.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e552_10 { 
	width:32px;
	height:32px;
	position:absolute;
	left:259px;
	top:524px;
	background-image:url(images/image_67.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e552_11 { 
	transform: rotate(180deg);
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:10px;
	height:10px;
	position:absolute;
	left:194px;
	top:489px;
}.e552_12 { 
	transform: rotate(180deg);
	border-radius:500px;
	background-color:rgba(171.06250405311584, 171.06250405311584, 171.06250405311584, 1);
	width:10px;
	height:10px;
	position:absolute;
	left:175px;
	top:489px;
}