.540_27 { 
	overflow:hidden;
}.e540_27 { 
	background-color:rgba(255, 255, 255, 1);
	width:360px;
	height:1323px;
	position:absolute;
}.e540_28 { 
	color:rgba(0, 0, 0, 1);
	width:102px;
	height:34px;
	position:absolute;
	left:115px;
	top:371px;
	font-family:Lalezar;
	text-align:left;
	font-size:22px;
	letter-spacing:2;
}.e540_29 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:360px;
	height:221px;
	position:absolute;
	left:0px;
	top:130px;
	background-image:url(images/rectangle_11.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e540_30 { 
	color:rgba(0, 0, 0, 1);
	width:93px;
	height:34px;
	position:absolute;
	left:120px;
	top:82px;
	font-family:Lalezar;
	text-align:left;
	font-size:22px;
	letter-spacing:2;
}.e540_31 { 
	border-radius:500px;
	background-color:rgba(65.87499797344208, 65.87499797344208, 65.87499797344208, 1);
	width:4px;
	height:4px;
	position:absolute;
	left:160px;
	top:337px;
}.e540_32 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:4px;
	height:4px;
	position:absolute;
	left:172px;
	top:337px;
}.e540_33 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:4px;
	height:4px;
	position:absolute;
	left:184px;
	top:337px;
}.e540_34 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:4px;
	height:4px;
	position:absolute;
	left:196px;
	top:337px;
}.e540_35 { 
	width:360px;
	height:55px;
	position:absolute;
	left:0px;
	top:1268px;
}.e540_36 { 
	background-color:rgba(184.00000423192978, 174.00000482797623, 184.00000423192978, 0.3400000035762787);
	width:360px;
	height:55px;
	position:absolute;
	left:0px;
	top:0px;
}.e540_37 { 
	width:230px;
	height:21.36069107055664px;
	position:absolute;
	left:65px;
	top:16.5291748046875px;
	background-image:url(images/image_36.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e540_38 { 
	width:230px;
	height:21.36069107055664px;
	position:absolute;
	left:65px;
	top:16.5291748046875px;
	background-image:url(images/image_39.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e540_39 { 
	width:362px;
	height:56px;
	position:absolute;
	left:0px;
	top:0px;
}.e540_40 { 
	background-color:rgba(184.00000423192978, 174.00000482797623, 184.00000423192978, 0.3400000035762787);
	width:362px;
	height:56px;
	position:absolute;
	left:0px;
	top:0px;
}.e540_41 { 
	width:26px;
	height:36.5px;
	position:absolute;
	left:100px;
	top:11px;
	background-image:url(images/image_29.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e540_42 { 
	color:rgba(0, 0, 0, 1);
	width:35.19444274902344px;
	height:15px;
	position:absolute;
	left:53.3111572265625px;
	top:22px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e540_43 { 
	color:rgba(0, 0, 0, 1);
	width:73px;
	height:41px;
	position:absolute;
	left:145px;
	top:13px;
	font-family:La Belle Aurore;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}.e540_44 { 
	width:18.77777671813965px;
	height:13px;
	position:absolute;
	left:24px;
	top:22px;
	background-image:url(images/image_27.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e540_45 { 
	width:58px;
	height:19.148937225341797px;
	position:absolute;
	left:271px;
	top:21px;
}.e540_46 { 
	width:18px;
	height:18px;
	position:absolute;
	left:20px;
	top:0.085113525390625px;
	background-image:url(images/image_60.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e540_47 { 
	width:18px;
	height:18px;
	position:absolute;
	left:0px;
	top:0.085113525390625px;
	background-image:url(images/image_58.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e540_48 { 
	width:20px;
	height:19.148937225341797px;
	position:absolute;
	left:38px;
	top:0px;
	background-image:url(images/image_59.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e540_49 { 
	width:180.36056518554688px;
	height:500.2265319824219px;
	position:absolute;
	left:141px;
	top:460px;
	background-image:url(images/image_40.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e540_50 { 
	width:14px;
	height:20.500001907348633px;
	position:absolute;
	left:336px;
	top:227px;
	background-image:url(images/image_42.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e540_51 { 
	width:115px;
	height:37px;
	position:absolute;
	left:66px;
	top:558px;
	background-image:url(images/image_43.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e540_52 { 
	width:59.400108337402344px;
	height:14.14288330078125px;
	position:absolute;
	left:234px;
	top:804px;
	background-image:url(images/image_44.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e540_53 { 
	width:65px;
	height:15.228571891784668px;
	position:absolute;
	left:68px;
	top:800px;
	background-image:url(images/image_45.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e540_54 { 
	width:241.5px;
	height:81px;
	position:absolute;
	left:58px;
	top:1164px;
}.e540_55 { 
	color:rgba(0, 0, 0, 1);
	width:49px;
	height:12px;
	position:absolute;
	left:97px;
	top:0px;
	font-family:Inter;
	text-align:center;
	font-size:8px;
	letter-spacing:0;
}.540_56 { 
	border:0.10000000149011612px solid rgba(0, 0, 0, 1);
}.e540_56 { 
	width:97px;
	height:0px;
	position:absolute;
	left:144.5px;
	top:5.5px;
}.540_57 { 
	border:0.10000000149011612px solid rgba(0, 0, 0, 1);
}.e540_57 { 
	width:97px;
	height:0px;
	position:absolute;
	left:0px;
	top:6px;
}.e540_58 { 
	color:rgba(0, 0, 0, 1);
	width:94px;
	height:10px;
	position:absolute;
	left:147px;
	top:71px;
	font-family:Inter;
	text-align:left;
	font-size:8px;
	letter-spacing:0;
}.e540_59 { 
	color:rgba(0, 0, 0, 1);
	width:58px;
	height:10px;
	position:absolute;
	left:165px;
	top:49px;
	font-family:Inter;
	text-align:left;
	font-size:8px;
	letter-spacing:0;
}.e540_60 { 
	color:rgba(0, 0, 0, 1);
	width:88px;
	height:10px;
	position:absolute;
	left:150px;
	top:60px;
	font-family:Inter;
	text-align:left;
	font-size:8px;
	letter-spacing:0;
}.e540_61 { 
	color:rgba(0, 0, 0, 1);
	width:41px;
	height:10px;
	position:absolute;
	left:173px;
	top:38px;
	font-family:Inter;
	text-align:left;
	font-size:8px;
	letter-spacing:0;
}.e540_62 { 
	color:rgba(0, 0, 0, 1);
	width:29px;
	height:11px;
	position:absolute;
	left:180px;
	top:23px;
	font-family:Inter;
	text-align:left;
	font-size:9px;
	letter-spacing:0;
}.e540_63 { 
	color:rgba(0, 0, 0, 1);
	width:23px;
	height:10px;
	position:absolute;
	left:37px;
	top:49px;
	font-family:Inter;
	text-align:center;
	font-size:8px;
	letter-spacing:0;
}.e540_64 { 
	color:rgba(0, 0, 0, 1);
	width:20px;
	height:10px;
	position:absolute;
	left:38px;
	top:38px;
	font-family:Inter;
	text-align:center;
	font-size:8px;
	letter-spacing:0;
}.e540_65 { 
	color:rgba(0, 0, 0, 1);
	width:33px;
	height:10px;
	position:absolute;
	left:32px;
	top:60px;
	font-family:Inter;
	text-align:center;
	font-size:8px;
	letter-spacing:0;
}.e540_66 { 
	color:rgba(0, 0, 0, 1);
	width:35px;
	height:10px;
	position:absolute;
	left:31px;
	top:71px;
	font-family:Inter;
	text-align:center;
	font-size:8px;
	letter-spacing:0;
}.e540_67 { 
	color:rgba(0, 0, 0, 1);
	width:25px;
	height:11px;
	position:absolute;
	left:36px;
	top:23px;
	font-family:Inter;
	text-align:center;
	font-size:9px;
	letter-spacing:0;
}.e540_68 { 
	width:323.318359375px;
	height:735.7244873046875px;
	position:absolute;
	left:21.681640625px;
	top:428px;
	background-image:url(images/image_65.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e540_81 { 
	width:338px;
	height:337px;
	position:absolute;
	left:-3px;
	top:0px;
}.e540_82 { 
	background-color:rgba(255, 255, 255, 1);
	width:338px;
	height:337px;
	position:absolute;
	left:0px;
	top:0px;
}.e540_83 { 
	color:rgba(0, 0, 0, 1);
	width:73px;
	height:41px;
	position:absolute;
	left:124px;
	top:13px;
	font-family:La Belle Aurore;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}.e540_84 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.6000000238418579);
	width:25px;
	height:25px;
	position:absolute;
	left:276px;
	top:18px;
}.e540_85 { 
	color:rgba(0, 0, 0, 1);
	width:230px;
	height:24px;
	position:absolute;
	left:40px;
	top:123px;
	font-family:Inter;
	text-align:justified;
	font-size:15px;
	letter-spacing:0;
	line-height:px;
}.e540_86 { 
	color:rgba(0, 0, 0, 1);
	width:230px;
	height:24px;
	position:absolute;
	left:39px;
	top:80px;
	font-family:Inter;
	text-align:justified;
	font-size:15px;
	letter-spacing:0;
	line-height:px;
}.e540_87 { 
	color:rgba(0, 0, 0, 1);
	width:230px;
	height:24px;
	position:absolute;
	left:40px;
	top:209px;
	font-family:Inter;
	text-align:justified;
	font-size:15px;
	letter-spacing:0;
	line-height:px;
}.e540_88 { 
	color:rgba(0, 0, 0, 1);
	width:230px;
	height:24px;
	position:absolute;
	left:40px;
	top:166px;
	font-family:Inter;
	text-align:justified;
	font-size:15px;
	letter-spacing:0;
	line-height:px;
}.e540_89 { 
	color:rgba(0, 0, 0, 1);
	width:230px;
	height:24px;
	position:absolute;
	left:41px;
	top:252px;
	font-family:Inter;
	text-align:justified;
	font-size:15px;
	letter-spacing:0;
	line-height:px;
}.e540_90 { 
	width:12px;
	height:12px;
	position:absolute;
	left:283px;
	top:24px;
	background-image:url(images/image_57.png);
	background-repeat:no-repeat;
	background-size:cover;
}.540_91 { 
	border:0.30000001192092896px solid rgba(141.0000067949295, 141.0000067949295, 141.0000067949295, 1);
}.e540_91 { 
	width:261px;
	height:0px;
	position:absolute;
	left:36px;
	top:56px;
}.e540_92 { 
	width:262px;
	height:22.084291458129883px;
	position:absolute;
	left:39px;
	top:260px;
	background-image:url(images/image_62.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e540_93 { 
	width:262px;
	height:22.084291458129883px;
	position:absolute;
	left:39px;
	top:88px;
	background-image:url(images/image_61.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e540_94 { 
	width:262px;
	height:22.084291458129883px;
	position:absolute;
	left:39px;
	top:131px;
	background-image:url(images/image_62.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e540_95 { 
	width:262px;
	height:22.084291458129883px;
	position:absolute;
	left:39px;
	top:217px;
	background-image:url(images/image_64.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e540_96 { 
	width:262px;
	height:22.084291458129883px;
	position:absolute;
	left:39px;
	top:174px;
	background-image:url(images/image_63.png);
	background-repeat:no-repeat;
	background-size:cover;
}